<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Locations</title>
    <style>
        .nav{
            background-color: lightpink;
            height: 50px;
            text-align: center;
            font-size: larger;
            padding-top: 15px;
            margin-top: -8px;
        }
        a{
            color: black;
            margin: 3%;
        }
        a:hover {
            background-color:  #deeaee
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        table, th, td {
  border: 1px solid;
}
        th, td {
            padding: 8px;
            text-align: center;
            border-bottom: 1px solid #ddd;
            font-size: x-large;
        }

        th {
            background-color:  #f7786b;
            width: 50%;
        }
        tr{
            background-color:  #f7cac9;
        }

        tr:hover {
            background-color:  #deeaee
        }
        h1 {
            text-align: center;
            color: #034f84;
           font-size: 40px;
           text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="nav">
    <a href="/login">Login</a>
    <a href="#">Sign Up</a>
    </div>
    <h1>Cat Feeding Locations</h1>
    <table>
        <thead>
            <tr>
                <th>Location</th>
                <th>Size</th>
            </tr>
        </thead>
        <tbody>
           {{#each catLocs}}
            <tr>
                <td>{{this.location}}</td>
                <td>{{this.size}}</td>
            </tr>
           {{/each}}
        </tbody>
    </table>
</body>
</html>
