<h1>Member Page</h1>
<style>


</style>
<form method="post" action="/member">
  <div class="mb-3">
    <label for="feedingLocId" class="form-label">Feeding Location</label>
    <input type="text" class="form-control" id="feedingLocId" name="locName"><br>

    <label for="food" class="form-label">Amount of food Placed:</label>
    <input type="number" class="form-control" id="food" name="foodAmount"><br>

    <label for="numCats" class="form-label">Number of Cats:</label>
    <input type="number" class="form-control" id="numCats" name="numCats"><br>

    <label for="water" class="form-label">Amount of water Placed:</label>
    <input type="number" class="form-control" id="water" name="waterAmount"><br>

    
    <div class="mb-3">
    <label for="formFile" class="form-label">Default file input example</label>
    <input class="form-control" type="file" id="formFile">
    </div>

    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Submit</button>
    </div>


  </div>
</form>
