<!DOCTYPE html><!--
  * CoreUI - Free Bootstrap Admin Template
  * @version v4.2.2
  * @link https://coreui.io/product/free-bootstrap-admin-template/
  * Copyright (c) 2023 creativeLabs Łukasz Holeczek
  * Licensed under MIT (https://github.com/coreui/coreui-free-bootstrap-admin-template/blob/main/LICENSE)
  --><!-- Breadcrumb-->
  <html lang="en">
    <title>{{pageTitle}}</title>
<style>
  form{
    margin: 1% 20%;
    padding: 1%;
    background-color: lightgray;
    border-radius: 2%;
  }
  h1{
    margin-left: 3%;
  }
  .footer{
    align-items: center;
  }
  

</style>
    <head>
      <title>Admin Dashboard</title>
      <base href="./">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
      <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
      <meta name="author" content="Łukasz Holeczek">
      <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
      <link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-icon-152x152.png">
      <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-icon-180x180.png">
      <link rel="icon" type="image/png" sizes="192x192" href="assets/favicon/android-icon-192x192.png">
      <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" href="assets/favicon/favicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
      <link rel="manifest" href="assets/favicon/manifest.json">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="msapplication-TileImage" content="assets/favicon/ms-icon-144x144.png">
      <meta name="theme-color" content="#ffffff">
      <!-- Vendors styles-->
      <link rel="stylesheet" href="vendors/simplebar/css/simplebar.css">
      <link rel="stylesheet" href="vendors/simplebar.css">
      <!-- Main styles for this application-->
      <link href="css/style.css" rel="stylesheet">
      <!-- We use those styles to show code examples, you should remove them in your application.-->
      <link href="css/examples.css" rel="stylesheet">
      <link href="vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">
    </head>
    <body>
      <div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
        <div class="sidebar-brand d-none d-md-flex">
          <svg class="sidebar-brand-full" width="118" height="46" alt="Stray Cat Feeding System">
            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-cat"><p>STRAY CAT FEEDING     SYSTEM</p></use>
            
          </svg>
          
        </div>
        
        <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
  
  
          <li class="nav-item"><a class="nav-link" href="/myposts">
            <svg class="nav-icon">
              <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
            </svg> Dashboard</a></li>
      <li class="nav-item"><a class="nav-link" href="/member">
            <svg class="nav-icon">
              <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-healing"></use>
            </svg> Report</a></li>
           
        
            
        
      </div>
      <div class="wrapper d-flex flex-column min-vh-100 bg-light">
        <header class="header header-sticky mb-4">
          <div class="container-fluid">
            <button class="header-toggler px-md-0 me-md-3" type="button" onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()">
              <svg class="icon icon-lg">
                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-menu"></use>
              </svg>
            </button><a class="header-brand d-md-none" href="#">
              <svg width="118" height="46" alt="CoreUI Logo">
                <use xlink:href="assets/brand/coreui.svg#full"></use>
              </svg></a>
            <ul class="header-nav d-none d-md-flex">
              <li class="nav-item"><a class="nav-link" href="/member"> Report</a></li>
           
          </ul>
            
            </ul>
            <ul class="header-nav ms-auto">
              <li ></li>
              <li ></li>
              <li ></li>
            </ul>
        
            <ul class="header-nav ms-3">
    <li class="nav-item dropdown ">
      <div style="display: flex; align-items: center;">
        <a class="dropdown-item" href="/" >
          <svg class="icon me-2">
            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-account-logout"></use>
          </svg> Logout
        </a>
        <div class="avatar avatar-md">
          <img class="avatar-img" src="assets/img/avatars/8.jpg">
        </div>
      </div>
    </li>
  </ul>
  
  
          </div>
          <div class="header-divider"></div>
          <div class="container-fluid">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb my-0 ms-2">
                <li class="breadcrumb-item">
                  <!-- if breadcrumb is single--><span>Home</span>
                </li>
                <li class="breadcrumb-item active"><span>Report</span></li>
                
              </ol>
            </nav>
          </div>
        </header>
        
        <div class="body flex-grow-1 px-3">
    <h1>Member Page</h1>
    {{#if message}}
      <div class="alert alert-primary" role="alert">
        <strong>{{message}}</strong>
      </div>
      
    {{/if}}
    <form method="post" action="/member" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="feedingLocId" class="form-label">Feeding Location</label>
        <input type="text" class="form-control" id="feedingLocId" name="location"><br>
    
        <label for="date" class="form-label">Last Visit Date:</label>
        <input type="date" class="form-control" id="date" name="lastVisitDate"><br>
    
        <label for="numCats" class="form-label">Number of Cats:</label>
        <input type="number" class="form-control" id="numCats" name="size"><br>
    
        <label for="food" class="form-label">Amount of food Placed:</label>
        <input type="number" class="form-control" id="food" name="foodLevel"><br>
    
    
        <label for="water" class="form-label">Amount of water Placed:</label>
        <input type="number" class="form-control" id="water" name="waterLevel"><br>
    
        <label for="issues" class="form-label">Issues(if any):</label>
        <div class="input-group mb-3">
          <label class="input-group-text" for="category">Category</label>
          <select class="form-select" id="category" name="category">
            <option value="" selected disabled hidden>Select an Option</option>
            <option value="medical">Medical</option>
            <option value="Feeding Station Problem">Feeding Station Problem</option>
            <option value="Food">Food</option>
            <option value="Water">Water</option>
          </select>
      </div>
        <textarea type="text" class="form-control" id="issues" name="issues" placeholder="Description"></textarea><br>
        
        <div class="mb-3">
        <label class="form-label">Upload Photo(Optional)</label>
        <input class="form-control" type="file"  name="image">
        </div>
    
        <div class="col-auto">
          <input type="submit" class="btn btn-primary mb-3"></input>
        </div>
    
      </div>
     
    </form>
     </div>
    <div class="container-lg">
       <footer class="footer">
        <p>Copyright &copy; 2024 Stray Cat Feeding System. All rights reserved.</p>
       
      </footer>
          </div>
        </div>
      </div>
      
  <!-- CoreUI and necessary plugins-->
      <script src="vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
      <script src="vendors/simplebar/js/simplebar.min.js"></script>
      <!-- Plugins and scripts required by this view-->
      <script src="vendors/chart.js/js/chart.min.js"></script>
      <script src="vendors/@coreui/chartjs/js/coreui-chartjs.js"></script>
      <script src="vendors/@coreui/utils/js/coreui-utils.js"></script>
      <script src="js/main.js"></script>
      <script>
      </script>
      
    </body>
     
  </html>
  
  